textarea{
  height: 40vh;
}

.mail-view,.mail-box,.list-box,.Contact-box{
  margin: 1vmax;
  flex: 8;
  padding: 2vmax;
  background-color: white;
  border-radius: 2vmax;
  border: 1px solid lightgray;
  height: 100%;


}
.side-bar{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.mail-body{
  background: #fff;
  height: 30vh;

  padding: 2vmax;
  border-radius: 2vmax;
  border: #1a1a1a solid 1px;
}

.side-bar-inner{
  display: flex;
  color: white;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.list-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.folder-name{
  font-size: 3.2em;
  background-color: transparent;
  border: none;
  width: 300px;
}
.list-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-control * *{
  margin: 5px;
}
